.featured-banner {
    height: 70vh;
    position: relative;
    overflow: hidden; /* Ensures text doesn't overflow outside the banner */
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 75%, rgba(255,255,255,1) 100%);
}

.featured-banner__image {
    width: 100%;
    height: auto;
    max-height: 75vh;
    object-fit: cover;
}

.featured-banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Adjust the width to your preference */
    height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(
        to left, 
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 10%,
        rgba(0, 0, 0, 0.4) 25%,
        rgba(0, 0, 0, 0.6) 40%,
        rgba(0, 0, 0, 0.8) 60%,
        rgba(0, 0, 0, 0.9) 75%,
        rgba(0, 0, 0, 1) 100%
    );
}

.featured-banner__text {
    text-align: left;
    color: white; /* Text color */
    width: 50%; /* Adjust the width to make sure text is centered */
    margin-left: 10%;
}

.featured-banner__title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.featured-banner__description {
    font-size: 16px;
    margin-bottom: 2rem;
}

.featured-banner__cta {
    color: black;
    background-color: #ffdc5c;
    border-radius: 5px;
    padding: 2% 4%;
    font-weight: bold;
}