body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* overflow-y: hidden; */
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.splash-image {
    width: 100%;
    height: 100vh;
}

.forgot-password-form {
    padding: 1rem 4rem;
    border-radius: 1.5rem;
    align-self: center;
}

.forgot-password-form a {
    color: #111;
    font-weight: 700;
    font-size: 2.25rem;
    font-weight: 700;
    text-decoration-line: underline;

    &:hover {
        color: blue;
    }
}

.forgot-title {
    margin-top: 1.75rem;
    font-size: 3rem;
    font-weight: 700;
}

label {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1.25rem 0 0.25rem;
    display: block;
}

input[type=password],
input[type=email],
input[type=text] {
    border-radius: 0.5rem;
    border: 2px solid #000;

    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 1.125rem;

    font-size: 1.25rem;
}

.sendButton {
    color: white;
    padding: 2%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background: #111;
}

.sendButton:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.25s;
}

.email-notif {
    display: none;
    margin-top: 0;
    text-align: center;
    font-size: 1.25rem;
    color: #159400; 
}

.show-pass-checkbox {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;

    span {
        margin-left: 0.25rem;
        font-size: 1.25rem;
        font-weight: 700;
    }
}

.error-message {
    display: none;
    text-align: center;
    color: red;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.changed-title {
    margin-bottom: 0.5rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-link {
    display: inline;
    margin: 1rem auto 0 !important;
    font-size: 1.25rem !important;
}