.content_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}
.divider{
    width: 80%;
    height: 1px;
    background-color: #000;
    margin-bottom: 20px;
}

.terms_container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    text-align: justify;
}

.terms_container ul{
    margin-left: 5%;
}

.terms_container ul li, .terms_container p{
    margin-bottom: 2%;
    color: #000;
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.section-title{
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    color: #000;
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}