/* Styling the form container */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.splash-image {
    width: 100%;
    height: 100vh;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 24px;
}

.form_container > p {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 auto;
}

.form_container a {
    color: black; /* Set the text color to black */
}

.form_container form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form_container form > p {
    font-weight: normal;
    font-size: 1rem;
    margin: 1.25rem 0 0.25rem;
}

.logo{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.password{
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
}

input:not([type="submit"]) {
    padding: 1rem 1.125rem;
    border-radius: 0.5rem;
    border: 2px solid #111;
}

.login_button{
    color: white;
    padding: 2%;
    width: 100%;
    font-size: large;
    cursor: pointer;
    border: none;
    border-radius: 2.5rem;
    background: #111;
}

.login_button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.25s;
}

.create_button{
    color: black;
    width: 85%;
    padding: 2%;
    font-size: large;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2.5rem;
    background: white;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
    text-align: center;
    text-decoration: none;
    font-weight: none;
}

.create_button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5s;
}

/* Style for the toggle button */
#togglePassword {
    background: none;
    border: none;
    cursor: pointer;
}

/* Style for the eye icons */
#eyeClosed,
#eyeOpen {
    width: 20px; /* Set width of the eye icons */
    height: auto; 
}

.showhide{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.forgotpass {
    margin: 1.5rem 0;
    color: #111;
    font-style: normal;
}

.back-button {
    display: block;
    text-align: center;
    color: black;
    margin-bottom: 1rem;
}

.back-button:hover {
    color: blue;
}