/* Styles for the modal container */
* {
    font-family: "Poppins", sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Styles for the modal content */
.modal-content {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%; /* Adjust modal width as needed */
    max-width: 600px; /* Maximum width for the modal */
    border-radius: 8px;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 80%; /* Limit the maximum height to allow scrolling */
    scrollbar-width: 2px;
    scrollbar-color: gray;
}

.modal-content::-webkit-scrollbar {
    width: 2px; /* Adjust as needed */
}

.modal-content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Adjust as needed */
}

.modal-content::-webkit-scrollbar-thumb {
    background: #888; /* Adjust as needed */
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: #555; /* Adjust as needed */
}

/* Close button styles */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

/* Center the modal vertically and horizontally */
/* .modal:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjust to ensure vertical alignment */
/* } * */

.modal-content {
    vertical-align: middle;
}

/* Title styles */
.modal-content h2 {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    padding: 2%;
}

/* Styles for the file drop area */
.file-drop {
    border: 2px dashed #ccc;
    padding: 2%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

/* Highlighted state for the file drop area */
.file-drop.highlight {
    border-color: #f39c12;
}

/* Hide the file input */
.file-drop input[type="file"] {
    display: none;
}

/* Styling for image previews */
.preview-image {
    max-width: 20%;
    max-height: 20%;
    border-radius: 5px;
}

/* Show the file input button */
input[type="file"] {
    display: block; /* Ensure it's displayed as a block-level element */
    margin-bottom: 10px; /* Add some space below the file input */
}

.forms label{
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input{
    border-radius: 0.75rem;
    border: 2px solid #000;
    width: 100%;
    color: #000;
    font-size: 1.5rem;
}

input[type="text"] {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1% 2%;
}

.Images_button{
    color: #4D3E3E;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 242px;
    height: 41px;
    border-radius: 5px;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    gap: 2%;
}


.button_S{
    width: 24%;
    height: 2%;
    padding: 1% 2%;
    background-color: #23AA38;
    border-radius: 10px;
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border: 1px solid #23AA38;
}

.button_C{
    width: 24%;
    height: 2%;
    padding: 1% 2%;
    background-color:#E70000;
    border-radius: 10px;
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border: 1px solid #E70000;
}

.ED{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
