.order-featured-img {
    width: 100vw;
}

.order-page-title {
    text-align: center;
    font-size: var(--fs-48);
}

.order-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.order-form {
    width: 49%;
    height: 500px;
    margin-right: 1%;
    border: 1px solid black;
}

.order-form form {
    width: 100%;
    height: 100%;
}

.faq-section {
    width: 49%;
    margin-left: 1%;
}

.faq-section h3 {
    font-size: var(--fs-48);
    text-align: center;
}

.questions-title {
    font-weight: bold;
    font-size: var(--fs-24);
}

.questions p {
    font-size: var(--fs-20);
}

.order-testimonials-cta {
    background-image: url(/websiteimages/orderfooterimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-top: 5%;
    padding: 15% 0;
}

.order-testimonials-cta p {
    font-weight: bold;
    font-size: var(--fs-48);
}

.order-testimonials-cta a {
    font-size: var(--fs-16);
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 1% 3%;
    border-radius: 5px;
}

@media (max-width: 360px) {
    .order-container {
        display: unset;
        margin: unset;
    }
    .order-form, .faq-section {
        width: 90%;
        margin: 0 auto;
    }
    .order-form {
        height: 700px;
    }
}

.quotation-form__list-item {
    margin-bottom: 20px; /* Add margin between input items */
}

.quotation-form__label {
    display: block; /* Display labels as block elements */
    margin-bottom: 5px; /* Add margin between labels and inputs */
    font-weight: bold;
}

.quotation-form__input,
.quotation-form__textarea,
.quotation-form__file,
.quotation-form__select {
    padding: 10px; /* Add padding to inputs */
    width: 100%; /* Ensure inputs take full width */
    box-sizing: border-box; /* Include padding and border in the input's total width */
}

.quotation-form__textarea {
    resize: vertical;
}

/* Customize radio labels alignment */
.quotation-form__radio-label {
    display: inline-block; /* Display radio labels inline */
    margin-right: 10px; /* Add margin between radio labels */
}

td {
    padding: 2.5vmin;
}