.featured-banner {
    background-image: url(websiteimages/orderfeaturedimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 15% 0;
}

.order-page__title {
    text-align: center;
    font-size: var(--fs-48);
}

.order-page__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.order-form {
    margin: 2.5vh 5vw;
    width: 90vw;
    height: fit-content;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 
+------------------------+
|     Quotation Form     |
+------------------------+
*/

.quotation-form__title {
    font-size: var(--fs-48);
    text-align: center;
    padding: 2.5vmin 0;
}

.quotation-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quotation-form__fieldset {
    width: 100%;
    padding: 1.25vmax;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.quotation-form__input-container-group {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.quotation-form__input-container-group--repair, .quotation-form__input-container-group--mto {
    width: 98%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.quotation-form__input-container {
    margin: 1%;
    padding: 1.25vmin 0;
    width: 47%;
}

.quotation-form__label {
    width: 100%;
    font-weight: bold;
    font-size: var(--fs-24);
}

.quotation-form__select, .quotation-form__input, .quotation-form__textarea, .quotation-form__file {
    margin: 1.25vmax 0;
    padding: 0.625vmax;
    width: 100%;
}

.quotation-form__input--readonly {
    background-color: #EEE;
}

.quotation-form__radio {
    margin: 2.5vmin 0;
}

.quotation-form__radio-label {
    margin-right: 10px;
}

.quotation-form__textarea {
    width: 100%;
    resize: vertical;
}

.quotation-form__navigation {
    text-align: center;
    margin-top: 20px;
}

.quotation-form__prev-button, .quotation-form__next-button, .quotation-form__submit-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.quotation-form__prev-button:hover, .quotation-form__next-button:hover, .quotation-form__submit-button:hover {
    background-color: #0056b3;
}

.quotation-form__submit-button {
    display: none;
}

.quotation-form__fieldset:first-child {
    display: flex;
}

.quotation-form__prev-button {
    display: none;
}

/* 
+-------------+
|     FAQ     |
+-------------+
*/

.faq {
    margin: 2.5vh 5vw;
    width: 90vw;
    height: fit-content;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq__title {
    font-size: var(--fs-48);
    text-align: center;
    padding: 2.5vmin 0;
}

.faq__list {
    display: flex;
    flex-wrap: wrap;
}

.faq__item {
    margin: 2.5% 5%;
    width: 40%;
}

.faq__question {
    font-weight: bold;
    font-size: var(--fs-24);
    padding: 2.5vmin 0;
}

.faq__answer {
    font-size: var(--fs-20);
    padding: 2.5vmin;
}

/* 
+-----------------------------+
|     CTA to Testimonials     |
+-----------------------------+
*/

.order-testimonials-cta {
    background-image: url(/websiteimages/orderfooterimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-top: 5%;
    padding: 15% 0;
}

.order-testimonials-cta p {
    font-weight: bold;
    font-size: var(--fs-48);
}

.order-testimonials-cta a {
    font-size: var(--fs-16);
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 1% 3%;
    border-radius: 5px;
}

@media (max-width: 360px) {
    .order-container {
        display: unset;
        margin: unset;
    }
    .order-form, .faq-section {
        width: 90%;
        margin: 0 auto;
    }
    .order-form {
        height: 700px;
    }
}
  
/* Responsive Styles */
@media (max-width: 768px) {
  .order-form {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .quotation-form__input,
  .quotation-form__textarea {
    font-size: 14px;
  }
}