/* ---------- Quotes ---------- */

.orders__wrapper {
    width: 90%;
    margin: 5%;
    font-family: "Inter", sans-serif;
}

.orders__back-button {
    margin-left: 5%;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.orders {
    height: auto;
    display: flex;
}

.order-details__wrapper {
    width: 60%;
    height: auto;
    padding: 2.5%;
    margin: 2.5vmin;
}

.order-details__title,
.order-price__title,
.order-actions__title {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 0;
    background-color: #333;
    color: white;
    padding: 2.5vmin;
}

.order-details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-details__table {
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin-bottom: 10vmin;
}

.order-details__th {
    width: 50%;
    text-align: center;
    background-color: #555;
    color: white;
    padding: 1.25vmin;
    border: 1px solid black;
}

.order-details__td {
    width: 50%;
    text-align: center;
    padding: 5vmin;
    background-color: #eee;
    border: 1px solid black;
}

.order-details__td--price {
    font-size: 6.25vmin;
}

.order-details__ref-img {
    width: 100%;
    height: auto;
}

.orders__right-wrapper {
    width: 40%;
    height: auto;
    padding: 2.5%;
    margin: 2.5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-price__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 7.5vmin;
}

.order-price__title {
    text-align: center;
}

.order-price {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 7.5vmin;
    background-color: #fff2c3;
    padding: 2.5vmin;
}

.order-actions__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.order-actions__title {
    text-align: center;
    margin-bottom: 5vmin;
}

.order-actions {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}