/* ---------- Orders and Quotes ---------- */

.onq {
    width: 100%;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
}

.onq__tab-button-container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 5%;
    margin-bottom: 0;
}

.onq__tab-button {
    width: 50%;
    height: auto;
    padding: 2.5vmin;
    font-size: larger;
    cursor: pointer;
    border: 1px solid #ccc;
}

.onq__tab {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.onq__table {
    width: 95%;
    height: auto;
    border: 1px solid #ccc;
    margin: 5%;
    margin-top: 0;
}

.onq__th--corner {
    width: calc(15%/2);
    height: auto;
    border: 1px solid #bbb;
}

.onq__th {
    height: auto;
    border: 1px solid #bbb;
    padding: 2.5vmin;
    font-size: large;
}

.onq__th--quote {
    width: calc(85%/4);
}

.onq__th--order {
    width: calc(85%/6);
    font-size: medium;
}

.onq__th--title {
    padding: 2.5vmin;
    font-size: xx-large;
}

.onq__td {
    height: 15vh;
    text-align: center;
}

.onq__td--quote {
    max-width: calc((77.5%/4)-5px);
}

.onq__td--order {
    max-width: calc((77.5%/6)-5px);
}

.onq__td--edge {
    min-width: calc((17.5%/2)-5px);
    height: 15vh;
    text-align: center;
}

.onq__td--end {
    width: 100%;
    height: auto;
    border: 1px solid #bbb;
    text-align: center;
}

/* ---------- Quotes ---------- */

.quotes {
    width: 90%;
    height: auto;
    display: flex;
    margin: 5%;
    font-family: "Inter", sans-serif;
}
    .quote-details__wrapper {
        width: 60%;
        height: auto;
        padding: 2.5%;
    }
        .quote-details__title,
        .quote-actions__title {
            width: 100%;
            height: auto;
            text-align: center;
            margin-bottom: 0;
            background-color: #ddd;
            padding: 2.5vmin;
        }
        .quote-details {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .quote-details__table {
            width: 100%;
            height: auto;
            border: 1px solid #ccc;
            margin: 5%;
            margin-top: 0;
        }
            .quote-details__th {
                width: 50%;
                text-align: center;
                background-color: #bbb;
            }
            .quote-details__td {
                width: 50%;
                text-align: center;
                padding: 5vmin;
                background-color: #eee;
            }
            .quote-details__ref-img {
                width: 100%;
                height: auto;
            }
    .quote-actions__wrapper {
        width: 40%;
        height: auto;
        padding: 2.5%;
    }
        .quote-actions__title {
            text-align: center;
            margin-bottom: 5vmin;
        }
        .quote-actions {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .quote-actions__cancel,
            .quote-actions__accept {
                margin: 1.25vmin;
                margin-top: 12.5vmin;
                padding: 1.25vmin;
                width: 60%;
            }