.onq {
    font-family: "Inter", sans-serif;
}

.tab-button-container {
    margin-left: 93px;
    margin-top: 80px;
}
.tab.active {
    background-color: #333; /* Active tab background color */
    filter: drop-shadow(0px 4px 2px #000000);
    color: white;
}
.table-data {
    text-align: center;
    height: 100px;
    border-bottom: 2px solid #DDD;
}

/* ---------- Orders and Quotes ---------- */

.tab__container {
    width: 90%;
    height: auto;
    display: flex;
}

.tab-button__wrapper {
    width: 90%;
    height: auto;
    display: flex;
}

.tab-filter__wrapper {
    width: 30%;
    flex: 1 1 30%;
}

.tab-content__wrapper {
    width: 90%;
    height: auto;
}

.tab-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onq__tab-button {
    width: 50%;
    height: auto;
    padding: 2.5vmin;
    font-size: larger;
    cursor: pointer;
    border: 1px solid #ccc;
}

.onq__tab {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    display:flex; 
    flex-direction:column; 
    align-items:center;
}

.onq__tr {
    text-align: center;
    height: 50px;
    border: none;
}

.onq__tr--th {
    background-color: #333;
    color: white;
}

.onq__th--corner {
    width: calc(15%/2);
    height: auto;
    border: 1px solid #bbb;
}

.onq__th {
    height: auto;
    border: 1px solid #333;
    padding: 2.5vmin;
    font-size: 100%;
    border: none;
}

.onq__th--quote {
    width: calc(85%/4);
}

.onq__th--order {
    width: calc(85%/7);
}

.onq__th--title {
    padding: 2.5vmin;
    font-size: xx-large;
    background-color: #333;
    color: white;
}

.onq__td--alt,
.onq__td--edge {
    background-color: #eee;
}

.onq__td--edge {
    min-width: calc((17.5%/2)-5px);
    height: 15vh;
    text-align: center;
}

.onq__td--end {
    width: 100%;
    height: auto;
    border: 1px solid #bbb;
    text-align: center;
}   

.pagination__button {
    background-color: #ccc;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination__button:hover {
    background-color: #ccc; /* Darker green */
}

.pagination__button.active {
    background-color: #FCD34D; /* Blue, or any other color you prefer */
}

.quote-filters {
    display: flex;
    width: 30%;
}

.order-filters input[type=submit] {
    padding: 20px 20px; 
    border-radius: 0.375rem;
    border: 1px solid var(--gray-300, #D1D5DB);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #6B7280;
    font-size: 0.875rem;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        background-color: #D1D5DB;
    }
}

.selector {
    padding: 2.5vmin; 
    border-radius: 0.375rem;
    border: 1px solid var(--gray-300, #D1D5DB);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #6B7280;
    font-size: 0.875rem;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        background-color: #D1D5DB;
    }
}

.onq {
    width: 90%;
    height: auto;
    margin: 5vmin;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.onq__content {
    width: 90%;
}
.onq__header {
    display: flex;
}
.tab__container,
.filter__container {
    width: 50%;
}
.tab__container {
}
.tab {
    padding: 0 25px;
    background-color: #555;
    border: none;
    font-weight: bold;
    font-size: 1em;
    padding: 1.2%;
    cursor: pointer;
    border-top-left-radius: 15px;
}
.filter {
    display: flex;
    align-items: flex-end;
}
.filter__td {
    padding: 5px 0;
    padding-left: 15px;
}
.submit-filter {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
}
.onq__table {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-top: 0;
    border: none;
    background-color: #FFFFFF;
    border-collapse: collapse;
    filter: drop-shadow(0px 2px 1px #000000);
}
.onq__td {
    width: 20%;
    height: auto;
    text-align: center;
}