/* ---------- Quotes ---------- */

.orders__wrapper {
    width: 90%;
    margin: 5%;
    font-family: "Inter", sans-serif;
}

.orders__back-button {
    margin-left: 5%;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.orders {
    height: auto;
    display: flex;
}

.orders__details-wrapper {
    width: 60%;
    height: auto;
    padding: 2.5%;
    margin: 2.5vmin;
}

.orders__title {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 0;
    background-color: #333;
    color: white;
    padding: 2.5vmin;
}

.order-details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders__table {
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin-bottom: 10vmin;
}

.orders__th {
    width: 50%;
    text-align: center;
    background-color: #555;
    color: white;
    padding: 1.25vmin;
    border: 1px solid black;
}

.orders__td {
    width: 50%;
    max-width: 50%;
    text-align: center;
    padding: 5vmin;
    background-color: #eee;
    border: 1px solid black;
}

.orders__td--price {
    font-size: 6.25vmin;
}

.order-details__ref-img {
    max-width: 200px;
    height: auto;
}

.orders__right-wrapper {
    width: 40%;
    height: auto;
    padding: 2.5%;
    margin: 2.5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-price__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 7.5vmin;
}

.order-price {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 7.5vmin;
    background-color: #fff2c3;
    padding: 2.5vmin;
}

.order-actions__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.order-actions__title {
    text-align: center;
    margin-bottom: 5vmin;
}

.order-actions {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}