.main-wrapper {
    display: flex;
    font-family: "Inter", sans-serif;
}
.sidebar__wrapper {
    width: 20%;
    background-color: #ffeba1;
    border-right: 1px solid #ddd;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    padding-top: 20px;
}
    .sidebar__container {
        padding: 20px;
    }
        .sidebar__back {
            margin-bottom: 20px;
        }
            .quotes__back-button {
                display: inline-block;
                padding: 10px 15px;
                background-color: #333;
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
            }
            .quotes__back-button:hover {
                background-color: #555;
            }
        .sidebar__list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
            .sidebar__item {
                margin-bottom: 10px;
            }
                .sidebar__link {
                    display: block;
                    padding: 10px 15px;
                    color: #111;
                    text-decoration: none;
                    background-color: #ffeba1;
                    border-radius: 5px;
                    transition: background-color 0.3s ease;
                }
                .sidebar__link:hover {
                    background-color: #ffeeb1;
                }
                .sidebar__link.active {
                    background-color: #ffeba1;  
                    color: #fff;
                }
.quotes__wrapper {
    width: 80%;
    height: auto;
    margin: 5vmin;
    display: flex;
}
    .quotes {
        padding: 2.5vmin;
    }
        .quotes-segment {
            border: 1px solid #ccc;
            border-radius: 15px;
            margin-bottom: 2.5em;
        }
            .quotes-segment__intro {
                background-color: #fff;
                padding: 3.75vmin;
                border-radius: 15px;
                background-color: #333;
                color: white;
                margin-bottom: 2.5em;
            }
                .quotes-segment__title {
                    margin: 0 1.25vmin;
                    margin-bottom: 5vmin;
                }
                .quotes-segment__desc {
                    margin: 0 1.25vmin;
                    max-width: 100%;
                    text-wrap: wrap;
                    line-height: 1.35em;
                    font-size: 1.15em;
                }
            .quote-identif,
            .quote-info,
            .quote-rejection {
                width: calc(100%-2.5vmin);
                display: flex;
                margin: 1.25vmin;
            }
                .quote-identif__section,
                .quote-info__section {
                    background-color: #f9f9f9;
                    padding: 2.5vmin;
                    border-radius: 15px;
                    border: 1px solid #eee;
                    width: 100%;
                    flex: 1 1 (50%-2.5vmin);
                    margin: 1.25vmin;
                }
                .quote-number__wrapper,
                .quote-status__wrapper {
                    display: flex;
                    align-items: center;
                }
                .status-pending {
                    background-color: #ffd9b3; /* Light Orange */
                }
                
                .status-approved {
                    background-color: #ffffcc; /* Light Yellow */
                }
                
                .status-accepted {
                    background-color: #ccffcc; /* Light Green */
                }
                
                .status-rejected {
                    background-color: #ffcccc; /* Light Red */
                }
                
                .status-default {
                    background-color: lightgray; /* Default color for any unspecified status */
                }
                    .quote-number__title,
                    .quote-number,
                    .quote-status__title,
                    .quote-status {
                        width: 50%;
                        margin: 0 15px;
                    }
                    .quote-number,
                    .quote-status {
                        text-align: right;
                        font-size: 1.75em;
                    }
                .quote-type__wrapper,
                .quote-price__wrapper,
                .quote-actions__wrapper {
                    display: flex;
                    flex-direction: column;
                }
                    .quote-type__title,
                    .quote-type,
                    .quote-price__title,
                    .quote-price,
                    .quote-reason__title,
                    .quote-reason,
                    .quote-actions__title,
                    .quote-actions {
                        margin: 1.25vmin;
                    }
                    .quote-type,
                    .quote-price,
                    .quote-reason,
                    .quote-actions {
                        font-size: 1.75em;
                    }
                    .quote-actions {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                    }
                        .quote-actions__btn {
                            padding: 1.25vmin 2.5vmin;
                            margin: 1.25vmin;
                            width: 95%;
                            font-size: 0.75em;
                            border: 1px solid #ccc;
                            border-radius: 25px;
                            cursor: pointer;
                        }
                            .td--no-action {
                                padding: 2.5vmin;
                            }
            .quote-items__wrapper {
                width: calc(100%-2.5vmin);
                margin: 2.5vmin;
            }
            .quote-items {
                width: 100%;
                height: auto;
                border: 1px solid black;
            }
                .quote-items__tr--header {
                    background-color: #333;
                    color: white;
                }
                    .quote-items__tr--td:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                        .quote-items__th,
                        .quote-items__td {
                            padding: 2.5vmin;
                            text-align: center;
                        }
                        .quote-items__td {
                            cursor: pointer;
                        }



/* Action Modals Specific Styles */
.modal--accept .modal__content--accept,
.modal--cancel .modal__content {
    text-align: center;
}

.modal__message {
    font-size: 18px;
    margin-bottom: 20px;
}

.modal__action {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.modal__action:hover {
    background-color: #45a049;
}

.modal--accept #legallyConsented {
    margin-top: 10px;
}

.modal--accept .modal__action,
.modal--cancel .modal__action {
    background-color: #333;
}

.modal--accept .modal__action:hover,
.modal--cancel .modal__action:hover {
    background-color: #555;
}

.modal--cancel .modal__action {
    background-color: #f44336;
}

.modal--cancel .modal__action:hover {
    background-color: #da190b;
}

/* ---------- Pagination ---------- */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination a.active {
    background-color: #333;
    color: white;
    border: 1px solid #111;
}

.pagination a:hover {
    background-color: #444;
    color: white;
    border: 1px solid #111;
}