body {
    font-family: "Inter", sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.quotes__wrapper {
    max-width: 1200px;
    margin: 2em auto;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quotes__back-button {
    display: inline-block;
    margin-bottom: 1em;
    text-decoration: none;
    color: #007bff;
}

.quotes {
    display: flex;
    flex-direction: column;
}

.quotes__top,
.quotes__bottom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 2em;
}

/* Optional: Adding some padding and border radius for better visibility */
.quote-status__wrapper {
    padding: 1em;
    border-radius: 5px;
}

.quote-number__wrapper,
.quote-type__wrapper,
.quote-status__wrapper,
.quote-price__wrapper,
.quote-actions__wrapper,
.quote-details__wrapper {
    flex: 1 1 calc(25% - 1em);
    margin: 0.5em;
    padding: 1em;
    border-radius: 8px;
}

.quote-number__wrapper,
.quote-type__wrapper,
.quote-status__wrapper {
    background-color: #e1e1e1;
}

.quote-price__wrapper,
.quote-actions__wrapper,
.quote-details__wrapper {
    background-color: #f1f1f1;
}

.quote-section__wrapper {
    margin-bottom: 25px;
}

.quote-section__title h1 {
    margin-top: 0;
    font-size: 1.5em;
    color: #343a40;
}

.quote-general__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 1em);
}

.status-pending {
    background-color: #ffd9b3; /* Light Orange */
}

.status-approved {
    background-color: #ffffcc; /* Light Yellow */
}

.status-accepted {
    background-color: #ccffcc; /* Light Green */
}

.status-rejected {
    background-color: #ffcccc; /* Light Red */
}

.status-default {
    background-color: lightgray; /* Default color for any unspecified status */
}

.td--top {
    background-color: inherit;
    border: none;
    font-size: 1.5em;
}

.td--top.--price {
    font-size: 3vw; /* Starts with a large size */
}

.--price {
    text-align: right;
    max-width: 100%; /* Ensures it doesn't overflow */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow if any */
    text-overflow: ellipsis; /* Add ellipsis if overflow */

}

.quote-actions {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

th,
td {
    text-align: left;
    padding: 0.5em;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

td {
    background-color: #ffffff;
}

button {
    padding: 0.5em 1em;
    margin: 0.5em 0;
    font-size: 1em;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #464646;
}

/* ---------- Modal ---------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.modal__content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
    color: black;
    text-decoration: none;
}

.modal__message {
    margin-bottom: 20px;
    font-size: 18px;
}

.modal__action {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#confirmAction {
    background-color: #28a745;
    color: white;
}

#confirmAction:hover {
    background-color: #218838;
}

#cancelAction {
    background-color: #dc3545;
    color: white;
}

#cancelAction:hover {
    background-color: #c82333;
}