body {
    font-family: 'Poppins', sans-serif;
}
.registration{
    width: 40%;
    margin: 0 auto 0 auto;
    padding-bottom: 2rem;
}

.business-logo{
    display: block;
    margin: 5% auto 1% auto ;
}

.regTitle{
    text-align: center;
    padding-bottom: 2%;
}

.regTitle h1{
    font-size: var(--fs-32);
    font-weight: 500;
}

.regTitle h3{
    font-weight: 500;
}

.regForm{
}

input[type="text"], 
input[type="email"], 
input[type="password"] {
    width: 100%;
    padding: 1rem 1.25rem;
    border-radius: 0.75rem;
    border: 1px solid #111;
}

input::placeholder{
    margin-left: 1rem;
}

.signUpBtn{
    color: white;
    padding: 2%;
    width: 100%;
    font-size: large;
    margin-top: 5%;
    cursor: pointer;
    border: none;
    border-radius: 2.5rem;
    background: #111;
}

.signUpBtn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

a{
    color: black;
    text-decoration: underline;
}

.login-link {
    color: blue;
}

.password {
    font-size: 0.875rem;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.error_message {
    color: red;
    animation: shake 0.5s ease-in-out;
}

.hide {
    display: none;
}

label[for="password"] {
    display: flex;
    justify-content: space-between;

    span {
        display: flex;
        align-items: center;

        img {
            margin-right: 0.125rem;
            width: 16px;
            height: 16px;
        }
    }
    
    .toggle-password {
        font-size: 0.875rem;
        cursor: pointer;
    }
}