
.content-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
    padding-top: 2rem;
    padding-right: 2rem;
}

.divider1{
border: 1px solid #D1D5DB;
width: 100%;
}

.stats_container{
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.filter-date {
    position: relative;
    display: inline-block; /* Ensure it only takes up as much width as necessary */
}

.custom-date {
    position: absolute;
    top: 100%; /* Position below the label "Start to end" */
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1000; /* Adjust z-index as needed */
}

/* Optional styling for the custom date inputs */
.custom-date input[type="date"] {
    width: 150px; /* Adjust width as needed */
    margin-right: 10px;
}


.Download_button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    padding: 1% 2%;
    width: 10%;
    height: 5%;


}

.Print_button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #FFDC5C;
    color: #000000;
    font-family: "Playfair Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    padding: 1% 2%;
    width: 10%;
    height: 5%;
    border: 1px solid #FFDC5C ;
}

.Print_button:hover{
    opacity: 0.7;
    cursor: pointer;
}

.Download_button:hover{
    opacity: 0.7;
    cursor: pointer;
}
.print{
    width: 20%;
    height: 20%;
}

.Download{
    width: 20%;
    height: 20%;
}

.button_containers{
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-top: 1%;
}

.daily_container{
    gap: 2%;
    
}

.weekly_container{
    gap: 2%;
}

.monthly_container{
    gap: 2%;
}

.yearly_container{
    gap: 2%;
}

.daily,.monthly,.weekly,.yearly{
    display: flex;
    flex-direction: column;
}



.breakdown_of_furnitures_container{
    display: flex;
    flex-direction: row;
    gap: 2%;
    
}

.tab-content {
    display: none; /* Hide all tab content by default */
}
.tab-content.active {
    display: flex; /* Display active tab content as flex */
}

.dropdown{
    background-color: none;
    border: none;
}

.dropdown:active::backdrop{
    background-color: none;
    border: none;
}

.tabs_dropdown_container{
    margin-top: 1%;
}