@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&family=Roboto&display=swap');

:root {
    --fs-48: clamp(28px, 3.12vw, 48px);
    --fs-40: clamp(26px, 2.59vw, 40px);
    --fs-36: clamp(25px, 2.34vw, 36px);
    --fs-32: clamp(24px, 2.08vw, 32px);
    --fs-24: clamp(22px, 1.56vw, 24px);
    --fs-20: clamp(18px,  1.3vw, 20px);
    --fs-18: clamp(16px, 1.17vw, 18px);
    --fs-16: clamp(14px, 0.78vw,16px);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Playfair Display', sans-serif;
}

/* Start of Utility Classes */
.text-gold {
    background: linear-gradient(to bottom,#ffffff, #FFDC5C);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

.d-flex {
    display: flex;
}

.ta-right {
    text-align: right;
}

.btn {
    cursor: pointer;
    padding: 0.75rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-white {
    background-color: white;
    color: black;
}

/* End of Utility Classes */

/* Start of Header CSS */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1em;
    position: relative;
}

.business-brand {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 0.5rem;
    row-gap: 0;
}

.business-logo {
    width: 60px;
    height: 60px;
    grid-row: 1 / 3;
    display: flex;
    align-content: center;
    margin: auto 0;
}

.business-name {
    font-size: var(--fs-48);
    width: max-content;
}

.business-category {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: var(--fs-18);
    color: white;
}

#open-btn, #close-btn {
    display: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links a {
    color: white;
    font-weight: bold;
    font-size: var(--fs-18);
    padding: 0.25em 0.75em;
    cursor: pointer;
}

@media(max-width: 980px) {
    #open-btn {
        display: inline;
    }
    #close-btn {
        display: inline;
    }
    #offcanvas-menu {
        padding: 3em;  
        position: fixed;
        top: 0;
        right: 0;
        background: rgb(26, 2, 43);
        width: clamp(320px, 40vw, 40vw);
        height: 100vh;
        transform: translateX(100%);
        transition: all .4s ease;
        z-index: 100;
    }
    .nav-links {
        flex-direction: column;
        padding: 0.5em 0;
    }
    .nav-links li {
        padding: 1em 0;
    }
    .nav-links li a {
        font-size: var(--fs-36);
    }
    #offcanvas-menu.active {
        transform: translateX(0);
    }
}

@media(max-width: 425px) {
    .header {
        padding: 0.5em;
    }
    .business-brand {
        grid-template-columns: 1fr;
    }
    .business-logo {
        display: none;
    }
}

/* End of Header CSS */

/* Start of Homepage CSS */
.featured {
    background-image: url(websiteimages/home-featuredimage.jpg);
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.featured-title {
    color: black;
    font-size: 2.75rem;
    width: 80%;
}

.featured-title span {
    display: block;
    font-size: 1.25rem;
}

.product {
    background-color: black;
    padding: 1.5rem 0.75rem;
    color: white;
    text-align: center;
}

.product-category-title {
    font-size: 1.75rem;
    margin-bottom: 0.25em;
}

.product-category-intro {
    font-size: 1rem;
}

.product-categories {
    width: 90%;
    margin: 1.5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.product-category {
    color: white;
    position: relative;
    max-width: 100%;
}

.product-category img {
    width: 100%;
    max-height: 15rem;
}

.product-category p {
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testimonials {
    padding: 1.5rem 0;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-title {
    font-size: var(--fs-32);
    text-align: center;
}

.reviews {
    margin: 1rem auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.review {
    position: relative;
    font-size: var(--fs-20);
    padding: 1em;
}

.quote {
    position: absolute;
    max-width: 64px;
    max-height: 64px;
}

.quote-start {
    top: 5%;
    left: 0%;
}

.quote-end {
    bottom: 20%;
    right: 5%;
}

.client-name {
    font-weight: bold;
}

.about-us {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 3rem;
    margin-top: 1rem;
}

.team-picture {
    width: 100%;
    height: 60vh;
    object-position: top;
    object-fit: cover;
}

.about-us h2 {
    border-bottom: 1px solid white;
    margin: 0.75em auto;
    padding-bottom: 0.25em;
    font-size: var(--fs-36);
    text-align: center;
}

.business-history {
    width: 90%;
    text-align: justify;
    margin-bottom: 1em;
}

@media(max-width: 720px) {
    .product-categories {
        grid-template-columns: repeat(2, 1fr);
    }
    .reviews {
        grid-template-columns: 1fr;
    }
}
@media(max-width: 425px) {
    .product-categories {
        grid-template-columns: 1fr;
    }
    .team-picture {
        display: none;
    }
}

/* End of Homepage CSS */

/* Start of Order Page CSS */

.order-featured-img {
    width: 100vw;
}

.order-page-title {
    text-align: center;
    font-size: var(--fs-48);
}

.order-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.order-form {
    width: 49%;
    height: 500px;
    margin-right: 1%;
}

.order-form iframe {
    width: 100%;
    height: 100%;
}

.faq-section {
    width: 49%;
    margin-left: 1%;
}

.faq-section h3 {
    font-size: var(--fs-48);
    text-align: center;
}

.questions-title {
    font-weight: bold;
    font-size: var(--fs-24);
}

.questions p {
    font-size: var(--fs-20);
}

.order-testimonials-cta {
    background-image: url(websiteimages/orderfooterimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-top: 5%;
    padding: 15% 0;
}

.order-testimonials-cta p {
    font-weight: bold;
    font-size: var(--fs-48);
}

.order-testimonials-cta a {
    font-size: var(--fs-16);
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 1% 3%;
    border-radius: 5px;
}

@media (max-width: 360px) {
    .order-container {
        display: unset;
        margin: unset;
    }
    .order-form, .faq-section {
        width: 90%;
        margin: 0 auto;
    }
    .order-form {
        height: 700px;
    }
}

/* End of Order Page CSS */

/* Start of Testimonials Page CSS */

.testimonials-featured-img {
    width: 100vw;
    object-fit: cover;
}

.testimonials-title {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.testimonials-title h2 {
    font-size: var(--fs-48);
    font-weight: bold;
}

.testimonials-title p {
    font-size: var(--fs-24);
}

.testimonials-title a {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 1% 2%;
}

.testimonials-divider {
    width: 80%;
    margin: 4% 10% 0 10%;
    align-self: center;
}

.star-container {
    display: flex;
    justify-content: center;
}

.star-container img {
    max-width: 15%;
    height: auto;
}

h2.star-rating {
    text-align: center;
    font-size: var(--fs-48);
    font-weight: bold;
}

.review-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* End of Testimonials Page CSS */

/* Start of Footer CSS */
.footer {
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: #111111;
    padding: 2% 0 0;
}

.footer-title {
    width: 33%;
    height: 120px;
    float: left;
    align-items: center;
    margin-left: 2%;
    white-space: nowrap;
}

.footer-title img {
    width: 85px;
    height: 85px;
}

.f-title {
    margin-top: -3%;
    margin-left: 1.5%;
}

.main-title {
    font-size: var(--fs-48);
    font-weight: bold;
}

.sub-title {
    font-size: var(--fs-24);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
}

.socials {
    width: 33%;
    text-align: center;
}

.socials h3 {
    color: white;
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.img-container {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.img-container a {
    padding: 1.5%;
}

.img-container a img {
    height: 50px;
    width: 50px
}

.img-container a img.email-icon {
    height: 60px;
    width: 60px;
}

.quicklinks {
    width: 33%;
    float: right;
    text-align: right;
    color: white;
    margin: 0 3.8% 0 0;
}

.quicklinks a {
    color: white;
    font-size: 18px;
    padding: 1% 0;
}

.quicklinks h3 {
    font-size: var(--fs-24);
    font-weight: bold;
}

.link-container {
    display: flex;
    flex-flow: column wrap-reverse;
    height: 50%;
}

@media (max-width: 800px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 10%;
    }
    .footer-title, .socials, .quicklinks {
        float: none;
        display: block;
        width: 100%;
    }
    .f-title {
        margin-top: 3%;
        margin-left: 0;
    }
    .footer-title {
        margin-left: 0;
    }
    .quicklinks {
        margin-top: 8%;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .link-container a {
        padding: 10% 0;
    }
}

/* End of Footer CSS */

/* Start of Services and Crafmanship CSS */
.intro-image {
    width: 100%;
    min-height: 30vh;
    object-fit: cover;
    object-position: center;
}

.intro-section {
    text-align: center;
    width: 70%;
    margin: 2em auto;
}

.intro-title {
    font-size: var(--fs-48);
}

.intro-info {
    margin: 0.5rem 0 2rem;
    font-size: 1.5rem;
}

.services_craftmanship_card_container {
    display: flex;
    flex-direction: column;
}

.services_craftmanship_card {
    margin: 2% auto;
    display: flex;
    background-color: black;
    color: white;
    width: 80%;
    border-radius: 25px;
    padding: 4%;
    justify-content: space-between;
    align-content: center;
}

.services_craftmanship_card img, .services_craftmanship_card div{
    width: 48%
}

.services_craftmanship_text_2{
    width: 75%;
    margin: 5% auto 0;
    font-size: var(--fs-24);
    text-align: center
}

.services_craftmanship_text_divider_img{
    width: 80%;
    display: block;
    margin: 0px auto;
}

.services_craftmanship_hero_image_2{
    width: 100%;
    background-image: url('websiteimages/Hero\ Image.png');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 15% 0;
}

.services_craftmanship_hero_image_2 h1{
    font-size: var(--fs-48);
    margin-bottom: 0.25em;
}

@media (max-width: 850px) {
    .services_craftmanship_card {
        flex-direction: column;
        justify-content: unset;
        text-align: center;
        width: 65%
    }
    
    .services_craftmanship_card img, .services_craftmanship_card div{
        width: 100%
    }
    
    .services_craftmanship_card_text.ta-right {
        text-align: center;
    }
    
    .services_craftmanship_card.big {
        display: none;
    }
}

@media (max-width: 650px) {
    .services_craftmanship_card {
        width: 85%;
        text-align: left;
        border-radius: 10px;
    }
}

@media (min-width: 851px) {
    .services_craftmanship_card.small {
        display: none;
    }
}
/* End of Services and Craftmanship CSS */

/* Start Of Contact Us CSS */

.call_center_dude{
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.contact_us_text_title{
    text-align: center;
    font-size: var(--fs-48);
}

.contact_us_text{
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

.contact_us_text div {
    margin: 0 4%;
}

.contact_us_text h1{
    font-size: var(--fs-40);
}

.contact_us_text p{
    font-size: var(--fs-24);
}

.map{
    text-align: center;
}

.map iframe{   
    width: 80%;
}

@media (max-width: 600px) {
    .map iframe {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 725px) {
    .contact_us_text {
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 800px) {
    .map iframe {
        width: 80%;
        height: 400px;
    }
}

/* End of Contact us CSS */

/* Start of About Us CSS */

.about-us-featuredimg {
    width: 100vw;
    min-height: 300px;
    object-fit: cover;
    object-position: center;
}

.about-us-toptext {
    margin: 0 auto 5%;
    text-align: center;
    width: 70%;
}

.about-us-toptext h2 {
    font-size: var(--fs-48);
}

.about-us-toptext p {
    font-size: var(--fs-20);
    margin-bottom: 4%;
}

.about-us-toptext a {
    background-color: black;
    color: white;
    padding: 2% 4%;
    border-radius: 5px;
}

.about-us-history {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5% 0;
}

.about-us-history * {
    width: 80%;
    margin: 0 auto;
}

.about-us-history h2 {
    font-size: var(--fs-48);
    margin-bottom: 2.5%;
}

.values-philosophy {
    background-color: #FFDC5C;
    text-align: center;
    padding: 1% 0 4%;
}

.values-philosophy h2 {
    display: block;
    font-size: var(--fs-48);
}

.values-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.values-container .values {
    width: 25%;
    margin: 0 2.5%;
    /* text-align: center; */
}

.values-container h2 {
    font-size: var(--fs-24);
}

.values-container p {
    font-size: var(--fs-16);
}

@media (max-width: 800px) {
    .values-container .values {
        width: 40%;
        margin: 0 5%;
    }
}

@media (max-width: 800px) {
    .values-container .values {
        width: 80%;
        margin: 0 auto;
    }
}
/* End of About Us CSS */

/* Start of Service-Works CSS */

.services-works-heroimage {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.services_works_text {
    text-align: center;
    width: 70%;
    margin: 0 auto 5%;
}

.services_works_text h2 {
    font-weight: bold;
    font-size: var(--fs-48);
}

.services_works_text p {
    font-size: var(--fs-24);
    margin-bottom: 4%;
}

.services_works_CTA {
    padding: 1.5% 3%;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.selector-container {
    display: flex;
    justify-content: center;
    margin: 20vh auto 2.5vh;
}

#type-selector {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 0.5% 1%;
    font-size: var(--fs-20);
    margin: 2.5vh;
}

#color-selector {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 0.5% 1%;
    font-size: var(--fs-20);
    margin: 2.5vh;
}

.gallery-section {
    width: 80%;
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: 23%;
    margin: 1%;
    object-fit: scale-down;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.services_works_gallery {
    display: flex;
}

.gallery_main {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.gallery_main_item {
    position: relative;
    width: 20%;
    padding: 2.5%
}

.gallery_main_item:hover :last-child {
    opacity: 1;
    top: 0;
    left: calc(100% + 25px);
}

.gallery_main_item_image {
    width: 100%;
}


.gallery_main_item_overlay {
    z-index: 1;
    padding: 0.5vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    color: #FFFFFF;
    opacity: 0;
    border-radius: 15px;
    width: 150%;
}

.gallery_main_item_overlay img {
    width: 100%;
}

.services_works_text_divider_img {
    width: 80%;
    display: block;
    margin: 0px auto;
}

.services_works_hero_image_2 {
    width: 100vw;
    background-image: url('websiteimages/services-works-cta-img.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 15% 0;
}

.services_works_hero_image_2 div {
    margin: auto;
}

.services_works_hero_image_2 h1 {
    font-size: var(--fs-48);
    margin-bottom: 0.25em;
}

/* END OF SERVICE-WORKS CSS */