body {
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


/* Start of Utility Classes */
.gold-gradient {
    background: linear-gradient(to bottom,#ffffff, #FFDC5C);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

.m-0 {
    margin: 0;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

/* End of Utility Classes */

/* Start of Header CSS */
.nav-bar {
    width: 100%;
    height: 100px;
    align-content: center;
    align-items: center;
    background-color: #111111;
    padding: 0.5% 0% 0.5% 2%;
}

.title {
    display: flex;
    width: 40%;
    height: 100px;
    float: left;
    white-space: nowrap;
}

.title h1 {
    font-size: 36px;
}

.title h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.h-title {
    margin-top: 1.5%;
    margin-left: 1.5%;
}

.navlinks {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    height: 100px;
    float: right;
    align-content: center;
    margin-right: 5%;
}

.navlinks a {
    align-self: center;
    color: white;
    padding: 0 3%;
    margin: 0 1%;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
}

/* End of Header CSS */

/* Start of Homepage CSS */
.featured-img {
    height: 630px;
    text-align: center;
    background-image: url(websiteimages/homefeaturedimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.featured-img h2 {
    font-size: 64px;
    margin-top: 12%;
}

.featured-img h2 span {
    display: block;
    font-size: 32px;
}

.featured-img a {
    color: white;
    background-color: black;
    padding: 1% 2%;
    border-radius: 5px;
}


/* End of Homepage CSS */

/* Start of Footer CSS */
.footer {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #111111;
    padding-top: 1%;
}

.footer-title {
    width: 33%;
    height: 120px;
    float: left;
    align-items: center;
    margin-left: 2%;
}

.footer-title img {
    width: 85px;
    height: 85px;
}

.f-title {
    margin-top: 0.5%;
    margin-left: 1.5%;;
}

.main-title {
    font-size: 40px;
    font-weight: bold;
}

.sub-title {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
}

.socials {
    width: 33%;
    height: 120px;
    text-align: center;
}

.socials h3 {
    color: white;
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.img-container {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.img-container a {
    padding: 1.5%;
}

.quicklinks {
    width: 33%;
    height: 300px;
    float: right;
    text-align: right;
    color: white;
    margin: 0 3.8% 0 0;
}

.quicklinks a {
    color: white;
    font-size: 18px;
    padding: 1% 0;
}

.link-container {
    justify-content: flex-end;
}

.quicklinks .left {
    width: 30%;
    height: 200px;
    float: left;
}

.quicklinks .right {
    width: 30%;
    height: 200px;
    float: right;
}

/* End of Footer CSS */

.cno {
    display: flex;
}