/* admin-chat.css */

/* Global styles */
.admin-chat__body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.admin-chat {
    display: flex;
    height: 100vh;
}

/* Main Content */
.admin-chat__main-content {
    padding: 2rem 2.5rem;
    width: 83%;
    height: 100vh;
}

.admin-chat__header {
    height: 15%;
}

.admin-chat__heading,
.admin-chat__customer-heading,
.admin-chat__chat-heading {
    color: var(--gray-900, #111827);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 0rem;
}

.admin-chat__customer-heading {
    margin: 0 5%;
}

.main-title {
    color: var(--gray-900, #111827);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.divider {
    background: var(--gray-300, #D1D5DB);
    height: 1px;
    align-self: stretch;
    margin-bottom: 1rem;
}

.admin-chat__container {
    display: flex;
    height: 85%;
}

.admin-chat__customer-divider {
    width: 90%;
    margin: 0 5%;
}

/* Customer List */
.admin-chat__customer-list {
    flex: 1;
    margin-right: 1rem;
    height: 100%;
    background-color: #efefef;
    border-radius: 15px;
}

.admin-chat__customer-list-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-chat__customer-list-items li {
    padding: 0.5rem 1rem; /* Adjusted padding */
    margin-bottom: 0.5rem;
    background-color: #F9FAFB;
    border: 1px solid var(--gray-300, #D1D5DB);
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-chat__customer-list-items li:hover {
    background-color: #E5E7EB;
}

/* Chat Window */
.admin-chat__chat-window {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.admin-chat__messages {
    flex: 1;
    overflow-y: auto;
    border: 1px solid var(--gray-300, #D1D5DB);
    padding: 1rem;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-chat__message {
    margin-bottom: 0.75rem;
    padding: 0.75rem 1rem;
    background-color: #F9FAFB;
    border-radius: 0.375rem;
    border: 1px solid var(--gray-300, #D1D5DB);
    width: fit-content;
    max-width: 70%;
}

.admin-chat__message.customer {
    text-align: left;
    align-self: flex-start;
    background-color: #DCF8C6; /* Light green */
}

.admin-chat__message.admin {
    text-align: right;
    align-self: flex-end;
    background-color: #C1DAF8; /* Light blue */
}

.admin-chat__message-form {
    display: flex;
}

.admin-chat__message-input {
    flex: 1;
    padding: 0.75rem 1rem;
    border: 1px solid var(--gray-300, #D1D5DB);
    border-radius: 0.375rem;
    margin-right: 0.5rem;
    outline: none;
    font-size: 1rem;
    text-wrap: wrap;
}

.admin-chat__send-button {
    padding: 0.75rem 1.5rem;
    background-color: var(--blue-500, #3B82F6);
    color: #fff;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    font-weight: 500;
}

.admin-chat__send-button:hover {
    background-color: var(--blue-600, #2563EB);
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .admin-chat {
        flex-direction: column;
    }

    .admin-chat__customer-list {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}