/* admin-chat.css */

/* Global styles */
.admin-chat__body {
    margin: 0;
    padding: 0;
}

.admin-chat *,
.admin-chat__main-content * {
    font-family: "Inter", sans-serif;
}

.admin-chat {
    display: flex;
    height: 100vh;
}

/* Main Content */
.admin-chat__main-content {
    flex: 1;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.admin-chat__header {
    margin-bottom: 20px;
}

.admin-chat__heading {
    font-size: 24px;
}

.admin-chat__container {
    display: flex;
    height: 100%;
}

/* Customer List */
.admin-chat__customer-list {
    flex: 1;
    margin-right: 20px;
}

.admin-chat__customer-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.admin-chat__customer-list-items {
    list-style: none;
    padding: 0;
}

.admin-chat__customer-list-items li {
    margin-bottom: 10px;
    cursor: pointer;
}

.admin-chat__customer-list-items li:hover {
    background-color: #f0f0f0;
}

/* Chat Window */
.admin-chat__chat-window {
    flex: 2;
}

.admin-chat__chat-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.admin-chat__messages {
    height: 70vh; /* Adjust max-height as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.admin-chat__message {
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.admin-chat__message-form {
    display: flex;
}

.admin-chat__message-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.admin-chat__send-button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-chat__send-button:hover {
    background-color: #0056b3;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .admin-chat__main-content {
        flex-direction: column;
    }

    .admin-chat__customer-list {
        margin-right: 0;
    }
}
